.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.routes {
    display: flex;
    flex-direction: column;
    justify-content: left;    
    border: 3px solid grey;
    padding: 5rem;
}
